@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 225 7% 16%;
    --foreground: 210 11% 71%;

    --card: 223 7% 19%;
    --card-foreground: 210 11% 71%;

    --popover: 223 7% 19%;
    --popover-foreground: 210 11% 71%;

    --primary: 235 86% 65%;
    --primary-foreground: 0 0% 100%;

    --secondary: 220 7% 24%;
    --secondary-foreground: 210 11% 71%;

    --muted: 220 7% 24%;
    --muted-foreground: 215 9% 52%;

    --accent: 235 86% 65%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 220 7% 24%;
    --input: 220 7% 24%;
    --ring: 235 86% 65%;

    --radius: 0.375rem;

    --sidebar-background: 223 7% 13%;
    --sidebar-foreground: 210 11% 71%;
    --sidebar-primary: 235 86% 65%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 220 7% 24%;
    --sidebar-accent-foreground: 210 11% 71%;
    --sidebar-border: 220 7% 19%;
    --sidebar-ring: 235 86% 65%;
  }

  .dark {
    --background: 225 7% 16%;
    --foreground: 210 11% 71%;

    --card: 223 7% 19%;
    --card-foreground: 210 11% 71%;

    --popover: 223 7% 19%;
    --popover-foreground: 210 11% 71%;

    --primary: 235 86% 65%;
    --primary-foreground: 0 0% 100%;

    --secondary: 220 7% 24%;
    --secondary-foreground: 210 11% 71%;

    --muted: 220 7% 24%;
    --muted-foreground: 215 9% 52%;

    --accent: 235 86% 65%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 220 7% 24%;
    --input: 220 7% 24%;
    --ring: 235 86% 65%;

    --sidebar-background: 223 7% 13%;
    --sidebar-foreground: 210 11% 71%;
    --sidebar-primary: 235 86% 65%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 220 7% 24%;
    --sidebar-accent-foreground: 210 11% 71%;
    --sidebar-border: 220 7% 19%;
    --sidebar-ring: 235 86% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
